body{
  margin:0;
  text-align: center;
  font-family:cursive;
  font-size: 1em;
}
h1{
  color: #114e60;
  font-size: 70px;
  margin: 50px auto 0 auto;
  font-family:cursive;
}
h2{
  color: #325288;
  font-size: 40px;
  font-family:fantasy;
  font-weight: normal;
}
h3{
  color:#4b778d;
  font-size: 40px;
  font-family:sans-serif;
}
h4{
  color:#b6c9f0;
  font-size: 15px;
  font-family:inherit;
}
a{
  color: black;
  font-family:inherit;
  margin: 10px 20px;
  text-decoration: none;
}
.top-container{
  background-color: #897853;
  position:relative;
  padding-top: 30px;
}
.middle-container{
  background-color: #4e3620;
  position:relative;
  padding-top: 100px;
}
.bottom-container{
  background-color: #897853;
  position:relative;
  padding: 50px 0 20px;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.Pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:50px;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.computer-img{
  float: left;
  margin-right: 30px;
}
.android-img{
  float: right;
  margin-right: 30px;
}
.apple-img{
  float: left;
  margin-right: 30px;
}
.btn{
  background: #e6a1a1;
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
background: -moz-linear-gradient( center top, #e6a1a1 5%, #7f2bb8 100% );
background: -ms-linear-gradient( center top, #e6a1a1 5%, #7f2bb8 100% );
background: -o-linear-gradient( center top, #e6a1a1 5%, #7f2bb8 100% );
background: -webkit-linear-gradient( center top, #e6a1a1 5%, #7f2bb8 100% );
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: sans-serif;
  color: #590d00;
  font-size: 27px;
  padding: 010px 10px 10px 10px;
  border: solid #bee836 2px;
  text-decoration: none;
}
.btn:hover {
  background: #031b2b;
  background-image: -webkit-linear-gradient(top, #031b2b, #3498db);
  background-image: -moz-linear-gradient(top, #031b2b, #3498db);
  background-image: -ms-linear-gradient(top, #031b2b, #3498db);
  background-image: -o-linear-gradient(top, #031b2b, #3498db);
  background-image: linear-gradient(to bottom, #031b2b, #3498db);
  text-decoration: none;
}
/* mouse over link */
a:hover {
  color: #fed049;
}
.copyright{
  font-size: 0.75rem;
  color: gold;
  padding: 20px 0;
}
